<nav class="nav">

  <a href={{backLink}} class="goBack">
    <div class="container__back">
      <img class="back_icon" src="/images/back_min.svg" alt="go back">
    </div>
  </a>
  {{#if usercontent}}
  <nav class="nav">
    <div class="container__empty">
     
    </div>
   <a href="/profile/{{username}}" class="link">
    <div class="container__back">
      <p class="initial">{{initial}}</p>
    </div>
   </a>
   </nav>
  {{/if}}
   
   {{#if thankYou}}
   <a href="/profile/{{user}}">
    <div class="container__back">
      <p class="link initial">{{initial}}</p>
    </div>
   </a>
  {{/if}}

</nav>